{% extends 'base.html.twig' %}

{% block title %}Liste par genres{% endblock %}
{% block pageTitle %}Liste par genres{% endblock %}

{% block body %}
<table width='90%'>
    <thead>
        <tr bgcolor='pink'>
            <th>Titre</th>
            <th>Année de sortie</th>
            <th>Affiche</th>
        </tr>
    </thead>
    <tbody>
        {% for film in films %}
        <tr>
            <td><a href="{{ url('app_film_show', {'id': film.id}) }}">{{ film.titre }}</a></td> 
            <td>{{ film.sortie|date("Y")}}</td>
            <td>
                {% if film.affiche is not null %}
                    <img src="{{ asset("affiches/"~film.affiche) }}" width="100" />
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}